@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  --twitter-color: #50b7f5;
  background-color: #F5F8FA;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
